<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>登录</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="../js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="../js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container">
        <h2 class="form-signin-heading">请登录</h2>
        <input type="text" id="inputNumber" class="form-control" placeholder="请输入学号，用于标示比赛中的身份" name='inputNumber' required autofocus>
        <input type="text" id="inputPhone" class="form-control" placeholder="请输入电话号码，方便发奖品" name='inputPhone' required>
        <button class="btn btn-lg btn-primary btn-block" type='submit', id="loginButton" data-container="body" data-toggle="popover" data-placement="bottom" title="登录错误" data-content="请确认输入的学号、手机号是否正确。若始终无法登录，请联系工作人员获取新的帐号进行比赛">登录</button>
    </div>

</body>

<script>
$(document).ready(function(){
    $("#loginButton").click(function(){
        inputNumber = $("#inputNumber").val();
        inputPhone = $("#inputPhone").val();

        $.post("loginSubmit", 
        {
            inputNumber : inputNumber,
            inputPhone : inputPhone
        },
        function(data,status){
            if (data === 'empty') { //没有登录帐号信息
                alert('请确认输入的学号、手机号是否正确。若始终无法登录，请联系工作人员获取新的帐号进行比赛');
            } else {
                setCookie('isLogged','1',5);
                setCookie('number',inputNumber,5);
                setCookie('phone',inputPhone,5);
                window.location.href = '/wait';
            }
        });
    });
});

function setCookie(c_name,value,expiredays)
{
    var exdate=new Date()
    exdate.setDate(exdate.getDate()+expiredays)
    document.cookie=c_name+ "=" +escape(value)+
    ((expiredays==null) ? "" : ";expires="+exdate.toGMTString())
}

</script>

</html>

