<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8"/>    
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>    
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！-->
	<title>&#x9996;&#x9875;</title>
	<!-- 新 Bootstrap 核心 CSS 文件-->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<!-- 可选的Bootstrap主题文件（一般不用引入）--><link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入--><script src="/js/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件-->
	<script src="/js/bootstrap.min.js"> </script>
</head>
<body>
	<div class="container-fluid"><div class="row-fluid">
		<div class="span12 well">
			<h3>请停留在该页面，等待其他人完成路径选择后进入下一天</h3>
			<form action="/usergame" method="get">
				<div class="form-group">     </div>
				<button type="submit" class="btn btn-success btn-block btn-lg">进入下一天</button>
			</form>
		</div>
		</div>
	</div>
</body>

</html>